body {
  margin: 0;
  padding-top: 80px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #2e7d32;
  color: white;
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}


.hero {
  background-image: url('../img/pexels-nappy-936094.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}



.hero-content {
  text-align: center;
  background-color: rgba(67,160,71,0.9);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 10px;
}


.btn {
  display: inline-block;
  background-color: #43a047;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #2e7d32;
}


.features {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.features h2 {
  text-align: center;
  margin-bottom: 30px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature {
  background: #2e7d32;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  color: white;
}


footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
