{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=5">

</head>

<body>

    <div class="container">
        <h2>Login</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <label>Username or Email:</label>
            <input type="text" name="username" placeholder="Enter username or email">

            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter your password">

            <button type="submit" class="btn">Login</button>
        </form>

        <p>Don't have an account?
            <a href="{% url 'signup' %}">Sign up</a>
        </p>
    </div>

</body>

</html>