{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>


    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>

    <div class="container1">
        <h2>Signup Form</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" required>

            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <label>Confirm Password:</label>
            <input type="password" name="confirm_password" required>

            <label>Date of Birth:</label>
            <input type="date" name="date_of_birth" required>

            <label>Gender:</label>
            <select name="gender" required>
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <label>Sport:</label>
            <input type="text" name="sport">

            <label>Height (cm):</label>
            <input type="number" name="height">

            <label>Weight (kg):</label>
            <input type="number" name="weight">

            <label>Role:</label>
            <select name="role">
                <option value="Athlete">Athlete</option>
                <option value="Coach">Coach</option>
            </select>


            <button type="submit">Submit</button>
        </form>

        <p>Already signed up?
            <a href="{% url 'login' %}">Login now</a>
        </p>
    </div>

</body>

</html>